@import "tailwindcss";

@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.gradient-animate {
  animation: gradientShift 8s ease infinite;
  background-size: 200% 200%;
}
